In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot  as plt

In [2]:
path = r'C:\Users\darck\OneDrive\Desktop\scrap\Projet1_scrapin'
data = pd.read_csv(path)

In [3]:
data.head()

,Unnamed: 0,names,location,salaries (k),jobs (k),views (k),evaluation
0,0,Capgemini,Rabat,29.2,6.9,77.0,3.7
1,1,Deloitte,Rabat,198.9,33.1,112.9,4.0
2,2,Amazon,Rabat,485.9,14.5,194.1,3.7
3,3,Dell Technologies,Rabat,29.6,333.0,35.9,4.1
4,4,IBM,Rabat,84.2,5.1,112.1,4.1

In [4]:
data.shape

(100, 7)

In [5]:
data.describe()

       Unnamed: 0  salaries (k)    jobs (k)   views (k)  evaluation
count  100.000000    100.000000  100.000000  100.000000  100.000000
mean    49.500000    107.680000   51.250000   86.170000    3.860000
std     29.011492    136.908063   97.110301   53.308707    0.163299
min      0.000000      4.400000    2.100000   13.100000    3.600000
25%     24.750000     29.200000    5.100000   35.900000    3.700000
50%     49.500000     67.800000   12.250000   80.900000    3.850000
75%     74.250000     84.200000   33.100000  112.900000    4.000000
max     99.000000    485.900000  333.000000  194.100000    4.100000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    100 non-null    int64
 1   names         100 non-null    object
 2   location      100 non-null    object
 3   salaries (k)  100 non-null    float64
 4   jobs (k)      100 non-null    float64
 5   views (k)     100 non-null    float64
 6   evaluation    100 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 5.6+ KB

In [7]:
data.drop_duplicates()
#Aucune ligne répétée

,Unnamed: 0,names,location,salaries (k),jobs (k),views (k),evaluation
0,0,Capgemini,Rabat,29.2,6.9,77.0,3.7
1,1,Deloitte,Rabat,198.9,33.1,112.9,4.0
2,2,Amazon,Rabat,485.9,14.5,194.1,3.7
3,3,Dell Technologies,Rabat,29.6,333.0,35.9,4.1
4,4,IBM,Rabat,84.2,5.1,112.1,4.1
...,...,...,...,...,...,...,...
95,95,PwC,Rabat,59.4,22.0,81.1,3.9
96,96,McDonald's,Rabat,84.0,82.2,136.3,3.6
97,97,Capgemini Engineering,Rabat,4.4,3.6,13.1,3.9
98,98,EY,Rabat,76.2,10.0,80.7,3.8
99,99,CGI,Rabat,25.0,2.1,18.5,3.8

In [8]:
#les différentes entreprises 
data.groupby('names')['views (k)'].sum()

names
Amazon                   1941.0
CGI                       185.0
Capgemini                 770.0
Capgemini Engineering     131.0
Dell Technologies         359.0
Deloitte                 1129.0
EY                        807.0
IBM                      1121.0
McDonald's               1363.0
PwC                       811.0
Name: views (k), dtype: float64

In [9]:
data1 = data.loc[(data['evaluation']> 3.8) & (data['views (k)'] > 100)]

In [10]:
data1.head()

,Unnamed: 0,names,location,salaries (k),jobs (k),views (k),evaluation
1,1,Deloitte,Rabat,198.9,33.1,112.9,4.0
4,4,IBM,Rabat,84.2,5.1,112.1,4.1
11,11,Deloitte,Rabat,198.9,33.1,112.9,4.0
14,14,IBM,Rabat,84.2,5.1,112.1,4.1
21,21,Deloitte,Rabat,198.9,33.1,112.9,4.0

In [11]:
data1.shape

(20, 7)

In [12]:
data_copy = data.copy()

In [13]:
#transformer les données categorelles en numeriques
from sklearn.preprocessing import LabelEncoder
scal =LabelEncoder()

data_copy['names']= scal.fit_transform(data_copy['names'])

In [14]:
data_copy = data_copy.drop('location',axis=1)

In [15]:
data_copy.head()

   Unnamed: 0  names  salaries (k)  jobs (k)  views (k)  evaluation
0           0      2          29.2       6.9       77.0         3.7
1           1      5         198.9      33.1      112.9         4.0
2           2      0         485.9      14.5      194.1         3.7
3           3      4          29.6     333.0       35.9         4.1
4           4      7          84.2       5.1      112.1         4.1

In [16]:
data_copy.corr()

,Unnamed: 0,names,salaries (k),jobs (k),views (k),evaluation
Unnamed: 0,1.000000,0.016282,-0.040255,-0.017835,-0.045284,-0.012793
names,0.016282,1.000000,-0.353441,0.060984,0.086282,0.214275
salaries (k),-0.040255,-0.353441,1.000000,-0.167352,0.825795,-0.237731
jobs (k),-0.017835,0.060984,-0.167352,1.000000,-0.208230,0.390332
views (k),-0.045284,0.086282,0.825795,-0.208230,1.000000,-0.344294
evaluation,-0.012793,0.214275,-0.237731,0.390332,-0.344294,1.000000

In [27]:
'''plt.figure(figsize=(8, 6))
sns.heatmap(data_copy.corr(), annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5, square=True)
plt.title('Heatmap de la Matrice de Corrélation')
plt.xticks(rotation=45)  
plt.yticks(rotation=45)   
plt.show()'''

'plt.figure(figsize=(8, 6))\nsns.heatmap(data_copy.corr(), annot=True, cmap=\'coolwarm\', fmt=".2f", linewidths=0.5, square=True)\nplt.title(\'Heatmap de la Matrice de Corrélation\')\nplt.xticks(rotation=45)  \nplt.yticks(rotation=45)   \nplt.show()'

In [18]:
#model de predction : predire l'évaluation
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [19]:
data_model = data_copy.copy()
x = data_model.iloc[:,:-1]
y = data_model.iloc[:,-1]

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [21]:
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [22]:
y_predict = regressor.predict(x_test)

In [23]:
from sklearn import metrics
mea = metrics.mean_squared_error(y_test,y_predict)

In [24]:
mea

0.024112354462699114